{% extends "layout.html" %}
{% block content %}

<!-- if route /response returns list of items (res=CHECKS) -->
{% if res %}

{% for key, value in res.items() %}
<section class="section">
<nav class="level">    
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Check</p>
        <p class="title"><a href="{{ url_for('model_test.get_check', key=key) }}">{{ key }}</a></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Score</p>
        <p class="title">{{ value['score'] }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Impact</p>
        <p class="title">{{ value['impact'] }}</p>
        </div>
    </div>
</nav>    
</section>
{% endfor %}

{% elif check %}
<nav class="level">    
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Score</p>
        <p class="title">{{ check['score'] }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Impact</p>
        <p class="title">{{ check['impact'] }}</p>
        </div>
    </div>
</nav>    
    
{% endif %}

<!-- if route /response/<key> returns one item only (res=check) -->


{% endblock %}

